@model OrangeBricks.Web.Controllers.Property.ViewModels.BookViewingViewModel

@{
    ViewBag.Title = "Book Viewing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Viewing</h2>

<p>Please provide following details to Book a Viewing for the @Model.PropertyType on @Model.StreetName</p>

@using (Html.BeginForm("BookViewing", "Property", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Your Name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Hidden("PropertyId", Model.PropertyId)
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        </div>
        @Html.LabelFor(m => m.Phone, "Phone Number", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
        </div>
        @*@Html.LabelFor(m => m.Email, "Your Email Address", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>*@
        @Html.LabelFor(m => m.BookingTime, "Pick Viewing Date", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.BookingTime, new { @class = "form-control" })
        </div>       
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Book Viewing" />
        </div>
    </div>
}